*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body{
    display: flex;
    
    min-height: 100vh;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(/src/images/bg.png);
  }
  
  
  .container{
    margin-top: 90px;
    margin-left: 70px;
  width: 420px;
  height: 460px;
    background:
    #303137;
   
    padding: 25px 40px 10px 40px;
    box-shadow: 0px 0px 10px 
    #303137;
    display: flex;
    border-radius: 25px;
   
  }
  
   
  
  
  
  .container form{
  padding:20px;
  width:700px;
  background: #303137;;
  box-shadow: none;
  }
  
  .container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
  }
  
  .container form  .col{
  flex:1 1 250px;
 
  }
  
  .container form .title{
    font-family: 'Inter';
font-style: normal;
    text-align: center;
    font-size: 20px;
    color:rgb(255, 255, 255);
     text-transform: uppercase;
  }
  

  
  .container form .inputBox{
  margin:15px 0;
  }
  
  .container form  .inputBox span{
    font-family: 'Poppins';
font-style: normal;
  margin-bottom: 20px;
  display: block;
  color: #fff;
  }
  
  .container .newnput{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
  border-radius: 4px;
  background:  #303137;
  color: #fff;
  }
  
  .container .newnput:focus{
  border:1px solid rgb(255, 255, 255);
  }
  
  .container form .row .col .flex{
  display: flex;
  gap:15px;
  }
  
  .container form .row .col .flex .inputBox{
  margin-top: 2px;
  }
  
  
  
  .container form .submitBtn{

    width: 100%;
    margin-right: 20px;
  
  padding:12px;
  font-size: 17px;
  border: #2D6CF9;
  margin-top: 30px;
  cursor: pointer;
  background: #2D6CF9;
  box-shadow: 0px 2px 20px rgba(21, 130, 222, 0.89);
  border-radius: 10px;
  color: #fff;
  }
  
  .container form .submitBtn:hover{
  background: #2D6CF9;
  box-shadow: 0px 2px 40px rgba(21, 130, 222, 0.89);
  }
  
  
  
  .setPassTitle p{
    margin-top: 20px;
  color: #fff;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  }

  
  




