*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body{
    display: flex;
    
    min-height: 100vh;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(/src/images/bg.png);
  }
  
  
  .container{
    margin-top: 90px;
    margin-left: 70px;
  
    background:
    #303137;
   
    padding: 25px 40px 10px 40px;
    box-shadow: 0px 0px 10px 
    #303137;
    display: flex;
    border-radius: 25px;
   
  }
  
   
  
  
  
  .container form{
  padding:20px;
  width:700px;
  background: #303137;;
  box-shadow: none;
  }
  
  .container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
  }
  
  .container form .row .col{
  flex:1 1 250px;
  }
  
  .container form .row .col .title{
  font-size: 20px;
  color:rgb(255, 255, 255);
  padding-bottom: 5px;
  text-transform: uppercase;
  }
  .container form .row .col .title-pass{
  font-size: 15px;
  color:rgb(255, 255, 255);
  padding-bottom: 5px;
  text-transform: uppercase;
  font-family: 'Poppins';
  font-style: normal;
  }
  .container form .row .col .perso-title-text{
  font-size: 15px;
  color:rgb(255, 255, 255);
  padding-bottom: 5px;
  text-transform: uppercase;
  font-family: 'Poppins';
  font-style: normal;
  }
  
  .container form .row .col .inputBox{
  margin:15px 0;
  }
  
  .container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
  color: #fff;
  }
  
  .container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
  border-radius: 4px;
  background:  #303137;
  color: #fff;
  }
  
  .container form .row .col .inputBox input:focus{
  border:1px solid rgb(255, 255, 255);
  }
  
  .container form .row .col .flex{
  display: flex;
  gap:15px;
  }
  
  .container form .row .col .flex .inputBox{
  margin-top: 2px;
  }
  
  
  
  .container  .submitBtns{
  width: 100%;
  padding:12px;
  font-size: 17px;
  border: #2D6CF9;
  margin-top: 5px;
  cursor: pointer;
  background: #2D6CF9;
  box-shadow: 0px 2px 20px rgba(21, 130, 222, 0.89);
  border-radius: 10px;
  color: #fff;
  }
  
  .container .submitBtns:hover{
  background: #2D6CF9;
  box-shadow: 0px 2px 40px rgba(21, 130, 222, 0.89);
  }
  
  
  
  .SocialMediaIconul{
  
  margin-top: 10px;
  margin-left: 80px;
  align-items: center;
  
  }
  
  .SocialMediaIcon ul li {
  display: inline-block;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  padding-top: 5px;
  margin-top: 20px;

  margin-left: 40px;
  text-align: center;
  
  font-size: 1.3rem;
  border-radius: 5px;
  color: #fff;
  
  
  }
  
  .vl {
  height: 430px;
   border-left: 2px dotted #fff;
  }
  
  
  .LoginLink p{
  color: #fff;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  }
  .LoginLink a{
  color:
  #47ACDF;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  }
  
  
  .orContText{
    margin-top: 50%;
    color: #fff;
    text-align: center;
  }
  .two-fact-text{
  margin-top: 20px;
    color: #fff;
    text-align: left;
    margin-bottom: 20px;
    font-family: 'Poppins';
    font-style: normal;
  }
  
  
  .switch {
  margin-left: 114px;
    position: relative;
    display: inline-block;
    width: 30px;
    height: 16px;
    align-items: baseline;
    
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #DC2C5D;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #DC2C5D;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 15px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .forgetPass{
  color: #fff;
  padding-top: 20px;
margin-bottom: 20px;
  }